.containerText {
  margin: 0 auto;
  width: 65%;
  margin-top: 7%;
  margin-bottom: 5%;
}
.loginMsg {
  color: var(--main-light);
  margin-bottom: 0;
}
#forgotLogin {
  color: var(--main-light);
}
#forgotLogin:hover {
  color: var(--yellow);
  text-decoration: underline;
  cursor: pointer;
}