.container-name {
  white-space: nowrap;
}
.container-icon {
  margin-left: 10%;
}
.container-option {
  height: 35px;
  transition: background-color 200ms linear;
  border: none;
  text-decoration: none;
  color: var(--white);
  white-space: nowrap;
}
.container-option:hover {
  background-color: var(--main);
  cursor: pointer;
  color: var(--white);
}
.container-option p, div {
  line-height: 35px;
  z-index: 2;
}
.active.container-option {
  color: var(--white);
  z-index: 1;
  background-color: var(--main);
}