.container-sideBar {
  height: 100vh;
  width: 11vw;
  background-color: var(--bg-color-light);
  -webkit-box-shadow: 7px -1px 34px -6px rgba(12,0,46,1);
  -moz-box-shadow: 7px -1px 34px -6px rgba(12,0,46,1);
  box-shadow: 7px -1px 34px -6px rgba(12,0,46,1);
}

.containerLogo span {
  color: var(--lighter-blue);
  font-size: 14px;
}
.containerLogo p {
  font-size: 24px;
}
.navSectionName {
  color: var(--lighter-blue);
  font-weight: 600;
  font-size: 1.1rem;
}